doctype html
html(lang="zh-Hant")
  block vars

    - var header_title = '單字樂園'
    - var author = 'Rita.L'
    - var og_title = 'English 單字樂園' 
    - var og_image = '/images/fb-share.png'
    - var og_url = ''
    - var og_desc = 'English'
    - var meta_keyword = 'English'
    - var root = '../../'

  head
    block head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,Chrome=1')
      meta(http-equiv='Cache-Control', content='no-cache')
      meta(http-equiv='Pragma', content='no-cache')
      meta(http-equiv='Expires', content='0')
      meta(property='og:title', content=(og_title ? og_title + ' |' + author : ''))
      meta(property='og:image', content=og_image ? og_image : '')
      meta(property='og:url', content=og_url ? og_url : '')
      meta(property='og:description', content=og_desc ? og_desc : '')
      meta(name='author', content=author)
      meta(name='copyright', content=author)
      if meta_keyword != ''
        meta(name='keywords', content=meta_keyword)
      meta(name='description', content=og_desc ? og_desc : '')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
      meta(name="format-detection" content="telephone=no")
      title #{og_title ? og_title + ' | ' + author : ''}
      link(rel='shortcut icon', href='images/favicon.ico')

      link(href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.9/dist/css/splide.min.css", rel='stylesheet')
      link(href='css/main.css', rel='stylesheet',type="text/css")


  body.default
    section.animation 
      h1.animate loading
        span loading
        |loading
        span loading
      h1.animate loading
        span loading
        |loading
        span loading
      h1.animate loading
        span loading
        |loading
        span loading
      h1.animate loading
        span loading
        |loading
        span loading
    .wrapper-container
      .wrapper
        .wrapper-mask
        block header
          //- header.header
            .header__inner
              .header__logo
                a(href='./index.html', title=author + 'X LINE Pay Money 首頁')
                  //- img(src='images/logo.svg', alt=author)
                  //- include svg/logo.svg
              //- include component/_nav.pug
              //- +nav(nameSpace)
        block content
        block footer
          //- footer.footer
            if hasFooterNotice
              .footer__notice 活動內容請依
                a(href='https://www.i-pass.com.tw/Page/AboutAccount', title='i-PASS一卡通網頁公告', target='_blank', rel="noreferrer noopenner") i-PASS一卡通網頁公告
                | 為準
            .wrap__inner
              p.footer__copyright
                span.footer__copyright-col ©版權所有 
                
      block lightbox
        include _lightbox.pug
    block script
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript")
      script(src="js/jquery.preload.min.js" type="text/javascript")
      script(src='js/main.js',type="text/javascript")
      //- script(src='main_all.js',type="text/javascript")
