.lightbox.lightbox__wrap
  #Stage.lightbox__body.stage__bg
    a(href="javascript:;",title="關閉").lightbox__close.close
      i.icon-close
    a(href="#learnbox",title="學習").lightbox__learnbox
      img(src="images/components/icon-learn.png", alt="", srcset="")
    .lightbox__container
      .lightbox__item
        .lightbox__content 
          .stage-list 
            a(href="#easy" , title="Easy",rel="0").stage-item.lv-easy 
              .lv-block.red
                img.lv-icon(src="images/components/icon-easy.png", alt="easy")
                img.lv-text(src="images/components/text-easy.png", alt="easy")
              .lv-score.font-bold
                p#score0.easy-score 0
              .stage-star#0
                img(src="images/components/star_n.png", alt="")
                img(src="images/components/star_n.png", alt="")
                img(src="images/components/star_n.png", alt="")
            a(href="#normal" , title="Normal",rel="1").stage-item.lv-normal
              .lv-block.green
                img.lv-icon(src="images/components/icon-normal.png", alt="easy")
                img.lv-text(src="images/components/text-normal.png", alt="easy")
              .lv-score.font-bold
                p#score1.normal-score 0
              .stage-star#1
                img(src="images/components/star_n.png", alt="")
                img(src="images/components/star_n.png", alt="")
                img(src="images/components/star_n.png", alt="")
            a(href="#hard" , title="Hard",rel="2").stage-item.lv-hard             
              .lv-block.blue
                img.lv-icon(src="images/components/icon-hard.png", alt="easy")
                img.lv-text(src="images/components/text-hard.png", alt="easy")
              .lv-score.font-bold
                p#score2.hard-score 0
              .stage-star#2
                img(src="images/components/star_n.png", alt="")
                img(src="images/components/star_n.png", alt="")
                img(src="images/components/star_n.png", alt="")
  #ScoreState.lightbox__body.state
    .lightbox__container
      .state__item.state-title.state-title--success
        //- .state-title--success  .state-title--failed
        .state__item-stage stage 
        .state__item-face.state__item-face--success
          //- .--success .--failed
        .state__item-star
          img(src="images/components/star_n.png")
          img(src="images/components/star_n.png")
          img(src="images/components/star_n.png")
        .state__item-score 
          span score
          span.state__item-scoreNum 0
        a(href="#",title="Next").btn--next.RunNext
          img(src="images/components/icon-next.png", alt="Next")

  #Record.lightbox__body.record.record__body
    .lightbox__container
      .record__item
        .record-title 答題結果一覽
        ul.record-list 
          li.record-list-item 
            .icon.icon-tick
            p.record-eng banana
            p.record-ch 香蕉 
          li.record-list-item 
            .icon.icon-tick
            p.record-eng apple
            p.record-ch 蘋果
          li.record-list-item 
            .icon.icon-tick
            p.record-eng bwatermelon
            p.record-ch 西瓜
          li.record-list-item 
            .icon.icon-cross
            p.record-eng apple
            p.record-ch 蘋果
        a(href="#",title="Next").btn--next
          img(src="images/components/icon-next.png", alt="Next")
