extends _layout.pug

block content
  //- 轉向提示
  section.tips 
    div.tips-wrap
      .tips-box
        h2 請將手機橫向拿取(確認解除直向鎖定)，
          br
          |已獲得最佳的遊玩體驗！
        button.enter 進入

  //- 遊戲說明
  section.instructionsplide
    a.close_splide(href='#' data-btnEffect) 關閉 
    .splide__track
      .splide__list
        .splide__slide 
          img(src="images/instruction1.png")
        .splide__slide 
          img(src="images/instruction2.png")
        .splide__slide 
          img(src="images/instruction3.png")
        .splide__slide 
          img(src="images/instruction4.png")
        .splide__slide 
          img(src="images/instruction5.png")
  //- 主頁
  .splide#home
    .splide__track
      .splide__list
        .splide__slide 
          section.section-kv
            .section-kv__decobox
              .section-kv__hamster
                img(src="images/components/animal_character_hamster.png", alt="hamster")
              .section-kv__acorn
                img(src="images/components/donguri.png", alt="acorn")
              a.section-kv__record(href="#" data-btnEffect)
                  img.icon-search(src="images/components/icon-search.png", alt="") 
                  span 答錯紀錄
            .container
              .section-kv-list.font-bold
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 1
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 2
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 3
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 4
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 5
        .splide__slide 
          section.section-kv.kv-rain 
            .section-kv__decobox
              .section-kv__hamster
                img(src="images/components/animal_character_hamster.png", alt="hamster")
              .section-kv__acorn
                img(src="images/components/donguri.png", alt="acorn")
              a.section-kv__record(href="#" data-btnEffect )
                  img.icon-search(src="images/components/icon-search.png", alt="") 
                  span 答錯紀錄
            .container
              .section-kv-list.font-bold
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 6
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 7
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 8
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 9
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 10
        .splide__slide 
          section.section-kv.kv-yuyake
            .section-kv__decobox
              .section-kv__hamster
                img(src="images/components/animal_character_hamster.png", alt="hamster")
              .section-kv__acorn
                img(src="images/components/donguri.png", alt="acorn")
              a.section-kv__record(href="#")
                  img.icon-search(src="images/components/icon-search.png", alt="") 
                  span 答錯紀錄
            .container
              .section-kv-list.font-bold
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 11
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 12
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 13
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 14
                a(href="#Stage" data-btnEffect).section-kv-item.card-wrap.lb-open 
                  .number 15
        .splide__slide 
          section.section-kv.kv-snow 
            .section-kv__decobox
              .section-kv__hamster
                img(src="images/components/animal_character_hamster.png", alt="hamster")
              .section-kv__acorn
                img(src="images/components/donguri.png", alt="acorn")
              a.section-kv__record(href="#")
                  img.icon-search(src="images/components/icon-search.png", alt="") 
                  span 答錯紀錄
            .container
              .section-kv-list.font-bold
                a(href="#Stage" data-btnEffect ).section-kv-item.card-wrap.lb-open 
                  .number 16
                a(href="#Stage" data-btnEffect ).section-kv-item.card-wrap.lb-open 
                  .number 17
                a(href="#Stage" data-btnEffect ).section-kv-item.card-wrap.lb-open 
                  .number 18
                a(href="#Stage" data-btnEffect ).section-kv-item.card-wrap.lb-open 
                  .number 19
                a(href="#Stage" data-btnEffect ).section-kv-item.card-wrap.lb-open 
                  .number 20
  
  //- 關卡１
  section.round.round_first
    .round-header
      a.round-back(href="#" data-btnEffect)
        img(src="images/components/icon-back.png", alt="back",title="Back")
      .round-block.round-timer 
        .progressBar
        .progressText 10s
      .round-block.round-score
        p.round-score-title.font score
        .round-score-num  0
    .subject
      .subject-bg 
        .subject-wordimg
          img 
        .subject-wordtext
        input#ans-eng(type="hidden")
    .options
      .card__wrapper
        a.card(href="#" data-btnEffect) 
          .card__front 
            .font-bold.ans-word#ans-word-0 
        a.card(href="#" data-btnEffect) 
          .card__front
            .font-bold.ans-word#ans-word-1 
        a.card(href="#" data-btnEffect) 
          .card__front
            .font-bold.ans-word#ans-word-2
        a.card(href="#" data-btnEffect) 
          .card__front
            .font-bold.ans-word#ans-word-3 
    .hamster
      img(src="images/components/animal_character_hamster.png")
    a(href="#").listen
      img(src="images/components/icon-music.png", alt="play" ,title="Play")
  //- 關卡2 填字
  //- section.round.round_second
    .round-header
      a.round-back(href="#")
        img(src="images/components/icon-back.png", alt="back")
      .round-block.round-timer 
        .progressBar
        .progressText 10s
      .round-block.round-score
        .round-score-title score
        .round-score-num  200
    .round-row
      .subject
        img(src="")
      .crossword
        .crossword-wordtext.font-bold 
        form.form(action="")
          .form-group
            //- input.form-control(type="text" , value="b")

    .options
      .letter__wrapper
        .letter 
          p 
        .letter 
          p 
        .letter 
          p 
        .letter 
          p 
    .hamster
      img(src="images/components/animal_character_hamster.png")
    a(href="#").listen
      img(src="images/components/icon-music.png", alt="play" ,title="Play")
    //- 關卡2 填字
  
  //- 關卡2 聽力測驗
  section.round.round_second
    .round-header
      a.round-back(href="#" data-btnEffect)
        img(src="images/components/icon-back.png", alt="back")
      .round-block.round-timer 
        .progressBar
        .progressText 20s
      .round-block.round-score
        .round-score-title score
        .round-score-num  0
    .round-row
      .subject
        img(src="images/words/banner.png", alt="Banner")
      .crossword.flex-grow  
        .crossword-wordtext 
        .replay.replay-wrap
          //- div 
            //- audio.replay-wordsplay(src="audio/words/one.mp3") 
          //-   button.replay-wordsplay
          //- div
          //-   button.replay-wordsplay 
          //- div 
          //-   button.replay-wordsplay 
          //- div 
          //-   button.replay-wordsplay 
    .options
      .letter__wrapper
        .letter.letter-g
          p A
          input(type="hidden", name="listenWord")
        .letter.letter-b
          p B
          input(type="hidden", name="listenWord")
        .letter.letter-y 
          p C
          input(type="hidden", name="listenWord")
        .letter.letter-p
          p D
          input(type="hidden", name="listenWord")

    .hamster
      img(src="images/components/animal_character_hamster.png")
    //- a(href="#").listen
    //-   img(src="images/components/icon-music.png", alt="play" ,title="Play")
  
  //- 關卡3
  section.round.round_third
    .round-header
      a.round-back(href="#" data-btnEffect)
        img(src="images/components/icon-back.png", alt="back")
      .round-block.round-timer 
        .progressBar
        .progressText 20s
      .round-block.round-score
        .round-score-title score
        .round-score-num  0
    .round-row
      .subject
        .subject-bg 
          .subject-wordimg
            img(src="images/words/banner.png", alt="Banner")
      .crossword
        .crossword-wordtext 
        form.form(action="")
          .form-group
            //- .form-control
    .options
      .letter__wrapper
        //- .letter 
          p b

    .hamster
      img(src="images/components/animal_character_hamster.png")
    a(href="#").listen
      img(src="images/components/icon-music.png", alt="play" ,title="Play")

  //- 學習
  section.learn#learnbox
    .round-header
      a.round-back(href="#" data-btnEffect)
        img(src="images/components/icon-back.png", alt="back",title="Back")
    .learn__wrap  
      .learn__con 
        .learn__wordimg
          img(src="")
        .learn__wordname
          p.learn__word-tw 
          p.learn__word-en.font-bold 
    a(href="#",title="Replay" data-btnEffect).learn__replay 
      img(src="images/components/btn-replay.png", alt="Replay")
    .hamster
      img(src="images/components/animal_character_hamster.png")

  //- 錯誤紀錄
  section.error 
    .round-header
      a.round-back(href="#")
        img(src="images/components/icon-back.png", alt="back",title="Back")
    .error__wrap  
      .error__heading   
        img(src="images/components/error-text.png", alt="錯誤紀錄")
      .error__con 
        .error__body
          .error__list 
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error 香蕉
                p.error__wodr-en.font-bold watermelon

            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold banner
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold banner
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold banner
            .error__item 
              .error__item-wordimg
                img(src="images/words/banner.png", alt="banner")
              .error__item-wordname
                p.error__wodr-tw 香蕉
                p.error__wodr-en.font-bold watermelon

  //- feekback
  section.feekback 
    .feekback__wrap 
      .feekback__box
        //- .false = x .circle = o
  
  audio#click(src="audio/click.mp3") 
  audio#answer(src="audio/answer.mp3") 
  audio#wrong(src="audio/wrong.mp3") 
