
html {
  font-size: 16px;
  height: 100%;
}

body {
  // visibility: hidden;
  line-height: 1.4;
  overflow-x: hidden;
  min-height: 100vh;
  color: $dark;
  @include font;

  &.noscroll{
    position: fixed;
    width: 100%;
  }
}
.container {
  max-width: #{$pcrwd-breakpoint + 'px'};
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

img[src$=".svg"],
svg {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.flex{
  @include flex(row,center,center)
}

@media (max-width: #{$pcrwd-breakpoint + 'px'}) {
  .container {
    padding: 0 vw(15px);
  }

  .forced-scrollbar {

    //only chrome worked
    &::-webkit-scrollbar {
      width: vw(7px);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: vw(4px);
    }
  }
}

@media (max-width: #{$mblrwd-breakpoint + 'px'}) {
  .hidden_min {
    display: none;
  }
}