@if $hasCarousel {
	.splide {
		&__arrow {
			background: none;
			opacity: 1;
			transition: opacity 0.2s;
			@include size(60px);

			// @include bp(mb) {
			// 	@include size(0.6rem);
			// }

			&--prev {
				left: pct(20, 1920);
				// transform: translate(-100%, -50%);
			}

			&--next {
				right: pct(20, 1920);
				// transform: translate(100%, -50%);
			}

			&:hover {
				opacity: 0.8;
			}

			&[disabled] {
				opacity: 0.2;
				pointer-events: none;
			}

			path {
				fill: #7066e0;
				stroke: #000;
			}

			svg {
				@include size(100%);
			}
		}

		// &__pagination {
		// 	bottom: -22px;
		// 	&__page {
		// 		background: none;
		// 		background-color: $yellow;
		// 		border-radius: 10px;
		// 		transition-property: width;
		// 		opacity: 1;
		// 		height: 6px;
		// 		width: 10px;
		// 		&.is-active {
		// 			background-color: $yellow;
		// 			transform: none;
		// 			width: 50px;
		// 		}
		// 	}
		// }
	}
}