@if $hasFont {

  @font-face {
    font-family: "Roboto";
    src: local('Roboto-Medium'),
      url(../fonts/Roboto-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto-B";
    src: local('Roboto-Bold'),
      url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSans-M";
    src: local('NotoSansTC-M.otf'),
      url(../fonts/NotoSansTC-M.otf) format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  .font {
    font-family: "Roboto", $font-family;
  }

  .font-bold {
    font-family: "Roboto-B", $font-family;
  }
}