@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes card {
	to {
		transform: translateY(-3%);
	}
}
@keyframes shadow-pop-br {
  0% {
    box-shadow: 0 0 #ffffff, 0 0 #303030, 0 0 #ffffff, 0 0 #303030, 0 0 #ffffff, 0 0 #303030, 0 0 #ffffff, 0 0 #303030;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px 1px #303030, 2px 2px #ffffff, 3px 3px #303030, 4px 4px #ffffff, 5px 5px #303030, 6px 6px #ffffff, 7px 7px #303030, 8px 8px #ffffff;
    transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
