.lightbox {
  &__wrap {
    background-color: rgba($dark, 0.7);
    pointer-events: none;
    @include flex(row, center, center);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    z-index: -1;

    // opacity: 0;
    // transition: opacity 0.2s ease-out;
    &.is-active {
      display: block;
      // opacity: 1;
      z-index: 2;
      pointer-events: all;
      animation: slide-in-fwd-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }

  &__close {
    display: block;
    @include size(60px);
    position: absolute;
    top: -10px;
    right: -10px;
    // margin: 1em;
    background-image: url(#{$image-path}components/close_bg.png);
    background-size: contain;
    background-position: center;

    .icon-close {
      position: absolute;
      @include size(60px);
      top: 0;
      left: 0;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 5px;
        min-height: 35px;
        border-radius: 8px;
        background-color: $white;
        transform-origin: center;
        position: absolute;
        top: 50%;
        left: 50%;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__body {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    opacity: 0;
    transition: all .4s linear;

    &.is-active {
      opacity: 1;
      display: block;
      transition-duration: 2s;
    }

    &.stage__bg {
      max-width: 1300px;
      width: pct(1000, 1200);
      margin: 0 auto;
      background-image: url(#{$image-path}background/lightbox_bg.png);
      background-size: 100% 100%;
    }

    &.state {
      max-width: 538px;
      margin: auto;
    }

    &.record__body {
      max-width: 820px;
      width: pct(820, 1920);
      margin: auto;
      position: relative;
      background-image: url(#{$image-path}/background/record_bg.png);
      background-size: cover;
      padding-top: pct(90, 1920);
      padding-bottom: pct(30, 1920);
      padding-left: pct(20, 1920);
    }
  }

  &__container {
    // max-width: 1200px;
    width: 100%;
  }

  &__item {
    width: 100%;
    min-height: 668px;
    padding: pct(100, 1300) pct(50, 1300);
  }

  &__content {
    width: 100%;
    margin: pct(48, 1300) 0 pct(20, 1300);
  }

  .stage {
    &-list {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    &-item {
      width: pct(360, 1200);
      padding-bottom: 48px;
      background-repeat: no-repeat;
      background-size: 105% auto;
      background-position: center;
      margin: 0 auto;
      text-align: center;
      filter: drop-shadow(0 2px 4px rgba($dark, 0.65));
      transition: all .15s cubic-bezier(0.19, 1, 0.22, 1);
      position: relative;

      &::before {
        content: '';
        display: block;
        @include size(80px);
        margin: 0 auto;
      }

      &:nth-of-type(1) {
        background-image: url(#{$image-path}background/bg_red.png);

        &::before {
          background-image: url(#{$image-path}components/pushpin_r.png);
          background-size: 100% auto;
        }
      }

      &:nth-of-type(2) {
        background-image: url(#{$image-path}background/bg_green.png);

        &::before {
          background-image: url(#{$image-path}components/pushpin_g.png);
          background-size: 100% auto;
        }
      }

      &:nth-of-type(3) {
        background-image: url(#{$image-path}background/bg_blue.png);

        &::before {
          background-image: url(#{$image-path}components/pushpin_b.png);
          background-size: 100% auto;
        }
      }

      &:hover {
        .red {
          background-color: #fabdc3;
        }

        .green {
          background-color: #b1f789;
        }

        .blue {
          background-color: #9acafa;
        }

        .lv-block .lv-icon {
          transform: scale3d(1.2, 1.2, 1);
        }

      }
    }

    &-star {
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      margin-top: -4%;

      >img {
        width: 90px;
        margin: 0 4px;
        display: inline-block;
      }
    }
  }

  .lv {
    &-block {
      width: pct(248, 360);
      min-height: 160px;
      // min-height: pct(160, 360);
      padding-bottom: 2em;
      border-radius: 5px;
      margin: pct(10, 248) auto;
      position: relative;
      transition: all .3s ease;

      &.red {
        background-color: #ffd7db;
      }

      &.green {
        background-color: #cef4b8;
      }

      &.blue {
        background-color: #c2e1ff;
      }
    }

    &-icon {
      width: pct(137, 248);
      margin-top: pct(10, 137);
    }

    &-text {
      position: absolute;
      width: pct(240, 248);
      bottom: -22px;
      left: 50%;
      transform: translateX(-50%);
    }

    &-score {
      width: pct(150, 360);
      border-radius: 10px;
      margin: auto;
      background-color: #e8e8e8;
      color: #3a3a3a;
      margin: pct(26, 248) auto;
      font-size: rem(30px);
      line-height: 1.2;
    }
  }

  &__learnbox {
    position: absolute;
    bottom: -2.5rem;
    right: -2.5rem;
    @include size(150px);
    border-radius: 99em;
    background-image: url(#{$image-path}components/learn_bg.png);
    background-size: cover;

    &:hover {
      animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }
  }

  .state {
    &__item {
      max-width: 540px;
      min-height: 600px;
      margin: 0 auto;
      background-size: 100% 100%;
      padding: pct(40, 1200);
      position: relative;
      margin-top: 10%;
    }

    &-title {
      &::before {
        content: '';
        position: absolute;
        top: pct(-60, 538);
        left: -5%;
        display: block;
        width: pct(586, 538);
        padding-bottom: 31%;
        background-size: 100% auto;
      }

      &--success {
        background-image: url(#{$image-path}background/bg_red.png);

        &::before {
          background-image: url(#{$image-path}components/success_title.png);
        }
      }

      &--failed {
        background-image: url(#{$image-path}background/bg_blue.png);

        &::before {
          background-image: url(#{$image-path}components/failed_title.png);
        }
      }
    }

    &__item-face {
      width: pct(400, 538);
      margin: 0 auto;

      &:before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: pct(238, 400);
        background-repeat: no-repeat;
        background-size: 100% auto;
      }
      &--success{
        &:before{
          background-image: url(#{$image-path}components/success_img.png);
        }
      }
      &--failed{
        &:before{
          background-image: url(#{$image-path}components/failed_img.png);
        }
      }

    }

    &__item-stage {
      font-size: rem(30px);
      color: #3a3a3a;
      text-align: center;
      margin-top: 8%;
    }

    &__item-star {
      text-align: center;
      margin: pct(20, 538) auto;

      >img {
        width: pct(90, 538);
        margin: 0 4px;
      }
    }

    &__item-score {
      width: pct(254, 538);
      background-color: #e8e8e8;
      color: #3a3a3a;
      border-radius: 8px;
      padding: 0 8px;
      font-size: rem(30px);
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .btn--next {
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      width: pct(132, 538);
      margin: 5% auto 0;
    }
  }

  .record {
    &-title {
      margin-top: pct(0, 743);
      font-size: rem(50px);
      text-align: center;
      color: $white;
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
    }

    &-list-item {
      width: pct(563, 820);
      margin: 0 auto;
      background-color: #227a29;
      padding: 8px;
      border-radius: 8px;
      margin-bottom: pct(25, 820);
      display: flex;
      align-items: center;

      >p {
        margin: 0;
        font-size: rem(38px);
        color: $white;

        &:last-child {
          margin-left: auto;
        }
      }

      .icon {
        @include size(60px);
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 4px;

        &-tick {
          background-image: url(#{$image-path}components/icon-tick.png);
        }

        &-cross {
          background-image: url(#{$image-path}components/icon-cross.png);
        }
      }
    }

    .btn--next {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 132px;
      margin-top: -2%;
    }
  }

}

@media all and (max-width:1440px) {
  .lightbox {
    &__item {
      width: 98%;
      margin: 0 auto;
      min-height: pct(668, 1440);
    }

    .stage {
      &-item {
        background-size: 100% auto;
        width: pct(360, 1107);
        padding-bottom: pct(48, 1107);
      }

      &-star {
        >img {
          width: 76px;
        }
      }
    }
  }
}

@media (max-width: #{$pcrwd-breakpoint + 'px'}) {
  .lightbox {
    .stage {
      &-item {
        width: vw(360px);
        padding-bottom: vw(48px);

        &::before {
          @include size(vw(80px));
        }
      }

      &-star {
        margin-top: vw(-18px);

        >img {
          width: vw(70px);
        }
      }
    }


    .lv {
      &-block {
        //     width: vw(248px);
        min-height: vw(120px);
      }

      &-icon {
        width: vw(137px);
      }

      &-text {
        width: vw(180px);
        bottom: vw(-18px);
      }

      &-score {
        width: vw(150px);
        margin-bottom: vw(25px);
        font-size: vw(30px);
      }
    }

    &__learnbox {
      @include size(vw(120px));
    }

    .state {
      &__item {
        width: vw(540px);
        min-height: vw(650px);
        padding: vw(40px);
        background-size: 100% auto;
        background-repeat: no-repeat;
      }

      &-title {
        &::before {
          top: vw(-60px);
          width: vw(600px);
        }
      }

      &__item-face {
        width: vw(400px);
      }

      &__item-stage {
        font-size: vw(30px);
      }

      &__item-star {
        margin: vw(20px) auto;

        >img {
          width: vw(90px);
          margin: 0 4px;
        }
      }

      &__item-score {
        width: vw(254px);
        border-radius: vw(8px);
        padding: 0 vw(8px);
        padding-bottom: vw(4px);
        font-size: vw(30px);
      }

      .btn--next {
        width: vw(132px);
        margin: vw(5px) auto 0;
      }
    }
  }
}

@media (max-width: #{$mblrwd-breakpoint +'px'}) {
}

@media all and (max-width:425px) {}