.animation {
  font-family: 'Roboto';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: $dark;
  color: $white;
  overflow: hidden;
  z-index: 10;
}

.animate {
  font-size: 100px;
  text-transform: uppercase;
  animation: animate 6s linear infinite;
  color: #f0f0f0;
  span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(119, 252, 177);
    margin: 0 10px;
    vertical-align: baseline;
  }
}

@keyframes animate {
  0% {
    transform: translateX(-100%) skew(-15deg);
  }

  100% {
    transform: translateX(100%) skew(-15deg);
  }
}