@if $isDev {
  * {
    outline: 1px solid rgb(248, 3, 65);
    pointer-events: auto !important;

    &:before {
      outline: 1px solid green;
    }

    &:after {
      outline: 1px solid blue;
    }
  }
}

section {
  position: fixed;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
}

.instructionsplide {
  background-color: $dark;
  display: flex;

  .splide__slide {
    margin: auto;
    text-align: center;

    >img {
      width: 80%;
    }
  }



  .close_splide {
    font-size: 2rem;
    color: $white;
    position: absolute;
    margin: 1em;
    padding: 0.5em;
    right: 0;
    z-index: 8;
    display: block;
  }
}

.section-kv {
  width: 100%;
  position: relative;
  background-image : url(#{$image-path}background/bg_school.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  &.kv-rain {
    background-image: url(#{$image-path}background/bg_rain_school.png);
  }

  &.kv-yuyake {
    background-image: url(#{$image-path}background/bg_yuyake_school.png);
  }

  &.kv-snow {
    background-image: url(#{$image-path}background/bg_snow_school.png);
  }

  &__decobox {

    // pointer-events: none;
    >* {
      position: absolute;
    }
  }

  &__hamster {
    width: pct(275, 1920);
    top: 548px;
    left: 153px;
    // margin-top: pct(548, 1920);
    // margin-left: pct(153, 1920);
  }

  &__acorn {
    width: pct(95, 1920);
    top: 800px;
    left: 110px;
    // margin-top: pct(834, 1920);
    // margin-left: pct(118, 1920);
  }

  &__record {
    width: pct(284, 1920);
    margin-top: pct(52, 1920);
    margin-left: pct(1453, 1920);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: url(#{$image-path}components/record_bg.png);
    background-size: cover;
    padding: pct(70, 1920) 0 pct(34, 1920);
    font-size: 1.77vw;
    color: #6c4d3a;

    .icon-search {
      width: pct(50, 284);
      margin-right: 3%;
    }
  }

  &-list {
    width: 100%;
    padding-bottom: pct(86, 1200);
    padding-top: calc(100vh - 30vh - #{pct(86, 1200)});
    text-align: center;
    display: flex;
    margin-left: pct(150, 1200);
  }

  &-item {
    background: bottom center / contain no-repeat url(#{$image-path}components/board.png);
    // width: pct(207, 1200);
    // height: 30vh;
    width: 208px;
    min-height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;

    .number {
      color: $white;
      font-size: 5.2vw;
      line-height: 1;
      margin-bottom: 25px;
    }

    &:hover {
      .number {
        animation: pulsate-fwd 0.5s ease-in-out infinite both;
      }
    }
  }
}

.round {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  // position: relative;
  background-image : url(#{$image-path}background/bg_classroom2.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: none;

  &.is-show {
    display: block;
  }

  &__decobox {
    pointer-events: none;

    >* {
      position: absolute;
    }
  }

  &-header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: pct(60, 1920);
  }

  &-block {
    width: pct(290, 1920);
    height: 70px;
    border: 4px solid #e83e2b;
    background-color: $white;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 3px 4px 3px rgba($dark, 0.5);
  }

  &-back {
    width: pct(80, 1920);
    @include size(80px);
    border-radius: 99em;
    margin-left: pct(60, 1920);
    box-shadow: 3px 4px 3px rgba($dark, 0.5);
  }

  //倒數
  &-timer {
    border: 4px solid #3f88da;
    margin-left: pct(30, 1920);
    position: relative;

    .progressBar {
      height: 48px;
      width: 100%;
      text-align: center;
      background: #3f88da;
      border-radius: 6px;
    }

    .progressText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      width: 100%;
      text-align: center;
      font-size: rem(30px);
      color: #333333;
    }
  }

  //分數
  &-score {
    margin-right: pct(60, 1920);
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      width: pct(130, 290);
      border-radius: 10px;
      color: $white;
      background-color: #e83e2b;
      padding: 0 4px;
      padding-bottom: 4px;
      text-align: center;
      font-size: rem(28px);
    }

    &-num {
      color: #e83e2b;
      text-align: right;
      font-size: rem(36px);
    }
  }
}

//選項
.options {
  position: absolute;
  background-image: url(#{$image-path}components/table.png);
  background-size: cover;
  background-position: center top;
  width: 100%;
  padding: pct(33, 1920) 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.hamster {
  position: absolute;
  width: pct(340, 1920);
  bottom: pct(260, 1920);
  left: pct(120, 1920);
  filter: drop-shadow(3px 3px 8px #5f3d01);
  z-index: 1;
}

.listen {
  position: absolute;
  @include size(80px);
  border-radius: 99em;
  right: pct(335, 1920);
  top: 60%;
  transform: translateY(-60%);
  box-shadow: 3px 4px 3px rgba($dark, 0.65);
  z-index: 1;
}

.round_first {

  //  題目
  .subject {
    width: pct(457, 1920);
    margin: pct(30, 1920) auto 0;

    &-bg {
      background-image: url(#{$image-path}components/shikishi_blank.png);
      background-size: 100% 100%;
      padding: pct(34, 457) 0;
    }

    &-wordimg {
      width: pct(380, 457);
      margin: auto;
    }

    &-wordtext {
      font-size: rem(40px);
      color: $brown;
      text-align: center;
      margin-top: pct(20, 457);
    }

  }

  //選項卡
  .card {
    &__wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    position: relative;
    display: inline-block;
    transition: transform 1s;
    transform: none;
    animation: card 1s ease-in-out infinite alternate paused;
    transform-style: preserve-3d;
    flex: 1;
    margin: 0 pct(40, 1920);
    padding: 4%;

    &:hover {
      animation-play-state: running;
    }

    &__front {
      width: 100%;
      height: 100%;
      border: 4px solid $brown;
      border-radius: 5px;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transition: 0.5s ease-in-out;

      .card-wrap--active & {
        transition-duration: 0.35s;
      }
    }

    &__front {
      background: $white;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      box-shadow: 0 6px 12px 0 rgba($dark, 0.65);
      transform: rotateX(-180deg);
      // z-index: -1;
      display: flex;

      &::before {
        content: '';
        pointer-events: none;
        display: inline-block;
        position: absolute;
        border: 4px solid $brown;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGCAYAAABxLuKEAAAAAXNSR0IArs4c6QAAARtJREFUeF7t2rEJwmAUhdFkBHcS3MTK1QRbwV0cQTeIxFZ/4RaBKxwbGxX9cvKeQefn+bJMJbfH9TbtDvup4X5uCrMen4Yo68GpCtMSZX0fVWGIGcw0Yn4M+5Y4VadSSxQz5sdXA2IGcarC2Eq2Un6t0TKAq06llii2kq2UX7VXnUq2kq1kK+UFvjzDVnJ1nUEihhhisgLEZL3MGGKIyQoQk/UyY4ghJitATNbLjCHmz8U0Ec5Sbvfo+X48LS3/e9vuY+av/P6VgJjPcMQMMBEzCmPGfC9DDDHZZiKGGGKyAsRkvcwYYojJChCT9TJjiCEmK0BM1suMIYaYrAAxWS8zhhhisgLEZL3MGGKIyQoQk/UyY4ghJiswePQLKa4lpIxVLcQAAAAASUVORK5CYII=);
        background-size: 20px 20px;
        transform: rotateX(0deg);
      }

      >div {
        font-size: 3.6vw;
        color: $brown;
        text-align: center;
        margin: auto;
      }

      &.card-wrap--active {
        transform: rotateX(0deg);

        &::before {
          transform: rotateX(180deg);
        }
      }
    }

  }
}

.round_second,
.round_third {
  .round-row {
    max-width: 960px;
    margin: pct(30, 1920) auto 0;
    @include flex(row, space-evenly, center);
    background-color: $white;
    border-radius: 10px;
    border: 4px solid $gold;
    box-shadow: 0 6px 12px 0 rgba($dark, 0.65);
    padding: pct(60, 1920) pct(20, 1920);
  }

  //  題目
  .subject {
    flex-grow: 1;
    max-width: 380px;
  }

  // 答題
  .crossword {
    flex-grow: 2;
    margin-left: pct(20, 960);

    &-wordtext {
      font-size: rem(40px);
      color: $brown;
      text-align: center;
      margin-bottom: pct(20, 960);
    }

    .form {
      &-group {
        @include flex(row, center, center);
      }

      &-control {
        width: 38px;
        height: 52px;
        padding: 4px;
        text-align: center;
        border-bottom: 2px solid $gold;
        margin-left: 5px;
        font-size: rem(40px);
        color: $gold;
        // line-height:normal;
      }
    }

    .replay {
      &-wrap {
        width: 100%;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;

        >div {
          width: calc(100% / 2);

          &:nth-of-type(1) {
            background-color: $green;
          }

          &:nth-of-type(2) {
            background-color: rgb(91, 190, 247);
          }

          &:nth-of-type(3) {
            background-color: rgb(247, 192, 91);
          }

          &:nth-of-type(4) {
            background-color: rgb(200, 169, 236);
          }
        }
      }

      &-wordsplay {
        display: block;
        outline: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
        display: block;
        @include size(80px);
        border-radius: 99em;
        margin: 1em auto;
        background-image:url(#{$image-path}components/icon-music.png);
        background-position: center;
        background-size: cover;

        &:hover {
          animation: pulsate-fwd 0.5s ease-in-out infinite both;
        }
      }
    }
  }

  .flex-grow {
    flex-grow: initial;
  }

  //字母卡
  .letter {
    &__wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    cursor: pointer;
    @include size(100px);
    text-align: center;
    background-color: $white;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, $white, $white),
    linear-gradient(143deg, #d5b562 -5%, #C59622 50%, #b58350 99%);
    border: 4px solid transparent;
    border-image-source: linear-gradient(143deg, #d5b562 -5%, #C59622 50%, #b58350 99%);
    border-image-slice: 1;
    background-origin: border-box;
    background-clip: content-box,
    border-box;
    display: flex;
    box-shadow: 0 6px 12px 0 rgba($dark, 0.65);

    &:hover {
      animation: pulsate-fwd 0.8s ease-in-out infinite both;
    }

    >p {
      font-size: rem(42px);
      color: $brown;
      margin: auto;
    }

    &.letter-g {
      background-image: linear-gradient(to bottom, $green, $green),
        linear-gradient(143deg, #d5b562 -5%, #C59622 50%, #b58350 99%);
    }

    &.letter-b {
      background-image: linear-gradient(to bottom, rgb(91, 190, 247), rgb(91, 190, 247)),
        linear-gradient(143deg, #d5b562 -5%, #C59622 50%, #b58350 99%);
    }

    &.letter-y {
      background-image: linear-gradient(to bottom, rgb(247, 192, 91), rgb(247, 192, 91)),
        linear-gradient(143deg, #d5b562 -5%, #C59622 50%, #b58350 99%);
    }

    &.letter-p {
      background-image: linear-gradient(to bottom, rgb(200, 169, 236), rgb(200, 169, 236)),
        linear-gradient(143deg, #d5b562 -5%, #C59622 50%, #b58350 99%);
    }
  }
}

.round_third {

  //字母
  .letters {
    width: 100%;
    margin: pct(160, 1920) auto pct(20, 1920);
    position: relative;
    z-index: 1;
  }

  //字母卡
  .letter {
    &__wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    @include size(100px);
    text-align: center;
    background-color: $white;
    border: 2px solid $dark;
    border-radius: 5px;
    display: flex;

    >p {
      font-size: rem(42px);
      color: $brown;
      margin: auto;
    }
  }
}

.learn {
  width: 100%;
  // position: relative;
  background-image : url(#{$image-path}background/bg_learn.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    margin: pct(30, 1300) auto 0;
    background-image: url(#{$image-path}components/learn_bg.png);
    background-size: 100% 100%;
    background-position: center;
  }

  &__con {
    width: 100%;
    min-height: 580px;
    // padding: pct(140, 1300) pct(70, 1300);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__wordimg {
    width: pct(380, 1300);
  }

  &__wordname {
    font-size: 6vw;
    color: $white;
    text-align: center;

    p {
      margin: 0;
    }
  }

  &__replay {
    display: inline-block;
    width: pct(246, 1920);
    margin-left: pct(1160, 1920);
    &:hover{
      animation: pulsate-fwd 0.5s ease-in-out infinite both;
    }
  }

  .hamster {
    position: absolute;
    width: pct(280, 1920);
    // bottom: pct(136, 1920);
    bottom: 136px;
    left: auto;
    right: pct(220, 1920);
  }
}

.error {
  width: 100%;
  // position: relative;
  background-image : url(#{$image-path}background/bg_log.png);
  background-size: cover;

  &__wrap {
    max-width: 1300px;
    width: pct(1000, 1200);
    min-height: 100%;
    margin: pct(30, 1300) auto 0;
    background-image: url(#{$image-path}background/lightbox_bg.png);
    background-size: 100% auto;
    padding-bottom: pct(84, 1920);
  }

  &__heading {
    width: pct(585, 1300);
    margin: 0 auto;

    >img {
      margin-top: pct(-80, 1300);
    }
  }

  &__con {
    margin: 0 auto;
    width: pct(1180, 1300);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__body {
    padding: 0 pct(20, 1300);
  }

  &__list {
    width: 100%;
    max-height: 470px;
    height: 30.5vw;
    padding-top: pct(20, 1180);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

  }

  &__item {
    width: pct(360, 1140);
    padding: 16px;
    background-color: $white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: pct(40, 1140);
  }

  &__item-wordimg {
    width: pct(140, 360);
  }

  &__item-wordname {
    width: 50%;
    text-align: center;

    >p {
      margin: 0;
    }
  }

  &__wodr-tw {
    font-size: rem(35px);
    color: $brown;
  }

  &__wodr-en {
    font-size: 1.5625vw;
    color: #3a3a3a;
  }
}

.learn,
.error {
  display: none;

  &.is-show {
    display: block;
  }
}

.result {
  width: 100%;

  &__wrap {
    background-color: rgba($dark, 0.7);
    pointer-events: none;
    @include flex(row, center, center);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s ease-out;

    // opacity: 1;
    // z-index: 2;
    &.is-active {
      opacity: 1;
      z-index: 2;
      pointer-events: all;
      animation: slide-in-fwd-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }
}

// feeback
.feekback {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;


  &__wrap {
    @include size(540px);
    margin: 0 auto;
    text-align: center;
  }

  &__box {
    width: 100%;
    height: 100%;
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      border-radius: 99em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;
    }

    &.circle {
      &:before {
        border: 10px solid $white;
        @include size(500px);
      }

      &:after {
        box-shadow: inset 0 0 0 50px rgba($green, 1);
        @include size(480px);
      }
    }


    &.false {

      &:before,
      &:after {
        border-radius: 40px;
        @include size(100%, 15%);
        border: 10px solid $white;
      }

      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
        box-shadow: inset 0 0 0 40px rgba($red, 1);
      }

      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
        box-shadow: inset 0 0 0 40px rgba($red, 1);
      }
    }
  }
}

.tips {
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba($dark, 1);
  display: none;

  &-wrap {
    display: flex;
    min-height: 100vh;
  }

  &-box {
    margin: auto;
    text-align: center;
    width: 80%;
    color: $white;
    border: 2px solid seagreen;
    border-radius: 10px;
    font-size: 3vw;
    padding: 4vw;
  }

  .enter {
    margin: 0.3125em;
    margin-top: 5%;
    padding: 0.625em 1.1em;
    transition: box-shadow .1s;
    box-shadow: 0 0 0 3px transparent;
    font-weight: 500;
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #7066e0;
    color: #fff;
    font-size: 2vw;
    cursor: pointer;
  }
}