
@mixin ie-only {

  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    @content;
  }
}

@mixin edge-only {
  @supports (-ms-ime-align:auto) {
    @content;
  }
}

@mixin posXY($x:0, $y:0) {
  left: calc(50% + ($x - ($w / 2)) * 1px);
  top: pct($y, $h);
}

@mixin size($width:null, $height:$width) {
  width: $width;
  height: $height;
}

@mixin rectangle($width, $height) {
	width: $width;
	height: $height;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font {
  font-family:'NotoSans-M', $font-family;
}
