@media all and (max-width:1440px) {
  .section-kv {
    &-item {
      margin: 0;
    }

    &__hamster {
      width: pct(275, 1440);
      left: 20px;
      top: 48%;
    }

    &__acorn {
      width: pct(95, 1440);
      left: 15px;
      top: 83vh;
    }
  }

  .listen {
    right: pct(300, 1440);
    top: 70%;
    transform: translateY(-70%);
  }

  .learn {
    .hamster {
      bottom: pct(100, 1440);
      right: 20px;
    }
  }
  .learn {

    &__wrap {
      max-width: 1200px;
    }
  
    &__con {
      min-height: 500px;
    }
  
    &__wordimg {
      width: pct(380, 1300);
      margin-bottom: 3%;
    }
  }
}

@media (max-width: #{$pcrwd-breakpoint + 'px'}) {
  .section-kv {
    &__hamster {
      //   width: vw(275px);
      top: vw(500px);
      //   left: 20px;
    }

    &__acorn {
      //   width: vw(95px);
      top: 63vw;
      //   left: 15px;
    }

    &-list {
      margin-left: 20.5%;
    }

    &-item {
      width: vw(182px);
      min-height: vw(258px);
    }
  }

  .round {
    &-block {
      width: vw(240px);
      height: vw(70px);
      padding: vw(8px);
      border-radius: vw(10px);

    }

    //倒數
    &-timer {
      border: vw(4px) solid #3f88da;

      .progressBar {
        height: vw(48px);
      }

      .progressText {
        font-size: vw(30px);
      }
    }

    //分數
    &-score {
      &-title {
        width: vw(120px);
        border-radius: vw(10px);
        padding: 0 vw(4px);
        padding-bottom: vw(4px);
        font-size: vw(28px);
      }

      &-num {
        font-size: vw(36px);
      }
    }
  }

  .round_first {

    //  題目
    .subject {
      width: vw(420px);
      margin: vw(30px) auto 0;

      &-bg {
        background-size: 100% auto;
        padding: vw(40px) 0;
      }

      &-wordimg {
        width: vw(320px);
      }

      &-wordtext {
        font-size: vw(40px);
        margin-top: vw(26px);
      }
    }

    //選項卡
    .card {
      margin: vw(16px) vw(40px);
    }
  }

  .round_second,
  .round_third {
    .round-row {
      width: vw(960px);
      margin: vw(30px) auto 0;
      padding: vw(40px) vw(16px);
    }

    //  題目
    .subject {
      max-width: vw(380px);
    }

    // 答題
    .crossword {
      margin-left: vw(20px);

      &-wordtext {
        font-size: vw(40px);
        margin-bottom: vw(20px);
      }

      .form {

        &-control {
          width: vw(38px);
          margin-left: vw(5px);
          font-size: vw(40px);
        }
      }

      .replay {
        &-wordsplay {
          @include size(vw(80px));
        }
      }
    }

    //字母卡
    .letter {
      @include size(vw(80px));
      margin: vw(16px) auto;

      >p {
        font-size: vw(42px);
      }
    }
  }
//選項
.options {
  background-size: 100% auto;
  padding: vw(4px) 0  vw(16px);
  bottom:16px;
}
  .learn {

    &__con {
      min-height: vw(580px);
    }

    &__wordimg {
      width: vw(300px);
    }

    &__wordname {
      font-size: 5vw;
    }

    &__replay {
      width: vw(246px);
      margin-left: vw(500px);
      margin-top: 3vw;
    }

    .hamster {
      opacity: 0;
      // width: vw(280px);
      // bottom:vw(136px);
      // right: 0;
    }
  }
  .hamster {

    width: vw(240px);
    bottom: vw(120px);
    left: vw(20px);

  }
  .listen {
    @include size(vw(80px));
    right: vw(140px);
    top: 66%;
    transform: translateY(-66%);
  }
}

@media all and (max-width:1024px) {
  .instructionsplide {
    .splide__slide {
      >img {
        width: 88%;
      }
    }

    .close_splide {
      font-size: 3.7vw;
      margin: 2rem;
      padding: 0;
    }
  }

  .round {
    &-back {
      @include size(6.8125vw);
      margin-left: pct(30, 1024);
    }

    &-header {
      margin-top:16px;
    }
  }

  .learn {
    &__wrap {
      margin: pct(30, 1024) auto 0;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &__con {
      min-height: 37.33333vw;
    }

    &__wordimg {
      width: 30vw;
      margin-bottom: 4%;
    }

    &__wordname {
      font-size: rem(60px);
    }

  }

  // feeback
  .feekback {

    &__wrap {
      @include size(500px);
      margin: 0 auto;
      text-align: center;
    }

    &.circle {
      &:before {
        border: 8px solid $white;
        @include size(46vw);
      }

      &:after {
        box-shadow: inset 0 0 0 40px rgba($green, 1);
        @include size(44vw);
      }
    }
  }

}