$isDev: false; // 開發中
$hasFont: true; // 有字
$hasCarousel: true; // 有輪播

// color
$white: #fff;
$dark: #000;
$gray: #666;
$red: #CC1111;
$green: #21C66C;
$yellow: #FFAF41;
$blue: #3CB4F5;
$gold: #C59622;
$brown:#511015;

$font-family:"-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","微軟正黑體","Microsoft JhengHei",sans-serif;

$image-path: '../images/';

//breakpoint
$pcrwd-breakpoint: 1200;
$mblrwd-breakpoint: 768;

@function vw($target) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: ($pcrwd-breakpoint * .01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vw;
}

@function vwm($target) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: ($mblrwd-breakpoint * .01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vw;
}


@function pct($xy, $ttlw) {
  @return ($xy / $ttlw * 100%);
}

@function em($px, $base:16) {
  @return ($px / $base * 1em);
}

@function rem($size) {
  @return $size / 16px * 1rem;
}
